@model App_Cole2020.Common.Models.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Folio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Folio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serie_Factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie_Factura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAbono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAbono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAbono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAbono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LLaveRef_Enc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
