@model IEnumerable<App_Cole2020.Common.Models.Debt>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCiclo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plantel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concepto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Persona_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCiclo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plantel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVencimiento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LLaveRef }) |
            @Html.ActionLink("Details", "Details", new { id=item.LLaveRef }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LLaveRef })
        </td>
    </tr>
}

</table>
